@{
    ViewBag.Title = "Inicio Taller";
}

<div class="jumbotron">
    <h2>Taller de programación Por Jose Navero.</h2>
    <p>Este taller está pensado para nivel principiante. En él se verá:</p>
    <p>1ª Parte, comandos básicos de git. <br/>
    2ª Parte, programación C#</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Manejo comandos basicos GIT</h3>
        <p>
            La idea es comenzar con lo básico de git.
            <ul>
                <li>git clone/init</li>
                <li>git pull</li>
                <li>git commit</li>
                <li>git push</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Programación C#</h3>
        <p>Existen tres pantallas de clientes:</p>
        <ul>
            <li>Listado clientes con un filtro básico</li>
            <li>Detalle del cliente</li>
            <li>Nuevo cliente</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Niveles</h3>
        <ul>
            <li>Nivel 1: Uso de clases a modo de base de datos</li>
            <li>Nivel 2: Uso de base de datos</li>
        </ul>
    </div>
</div>